.shelf {
    &__topBar {
        display: flex;
        justify-content: space-between;     
        
        @media (max-width: 767px){
            flex-direction: column;
        }   
    }

    &__panels {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        > * {
            max-width: 20%;
            @media (max-width: 767px){
                max-width: 50%;
            }
        }
    }
    &__sticky{
        background-color: white;
        bottom: 0;
        box-shadow: -2px -1px 4px #ccc;
        position: fixed;
        right: 0;

    }
    app-panel{
        align-items: stretch;
        display: flex;
    }
}
.stickyBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
    padding: 7px 0;
    
    &:first-child {
        border-bottom: 1px solid #ccc;
    }

    &__icon{
        background-size: cover;
        height: 25px;
        width: 25px;

        &--top{
            background-image: url('/assets/images/chevron.gif');
        }
        &--filter{
            background-image: url('/assets/images/filter.gif');
        }
    }
    &:nth-child(odd) {
        position: relative;

        &:after {
            border-bottom: 1px solid #ccc;
            bottom: 0;
            left: 5px;
            position: absolute;
            width: calc(100% - 10px);
        }

    }
}