<div class="header">
    <div class="header__logo">
        <img src="/assets//images/logo.png">
    </div>
    <div class="header__iconContainer header__iconContainer--account">
        <span class="header__icon header__icon--account">

        </span>
        <span class="screen-readers">Account</span>
    </div>
    <div class="header__iconContainer header__iconContainer--store">
        <span class="header__icon header__icon--store">

        </span>
        <span class="screen-readers">Store</span>
    </div>
    <div class="header__iconContainer header__iconContainer--search">
        <span class="header__icon header__icon--search">

        </span>
        <span class="screen-readers">Search</span>
    </div>
    <div class="header__iconContainer header__iconContainer--bag">
        <span class="header__icon header__icon--bag">
            0
        </span>
        <span class="screen-readers">Bag</span>
    </div>
    <div class="header__menu menu">
        <span class="menu__icon">
        </span>
        <div class="menu__category"><a href="google.com">Women</a></div>
        <div class="menu__category"><a href="google.com">Men</a></div>
        <div class="menu__category"><a href="google.com">Kids</a></div>
        <div class="menu__category"><a href="google.com">Accessories</a></div>
        <div class="menu__category"><a href="google.com">Clearance</a></div>
        <div class="menu__category"><a href="google.com">Brands</a></div>
    </div>
</div>