<div class="filtering">
    <div class="filtering__store">
        <input type="hidden" id="inStoreCheck">
        <label for="inStoreCheck">NEED IT TODAY?</label>
        <span>Available at Easton</span>
        <a href="google.com">Change Store</a>
    </div>
    <div class="filtering__buttons">
        <button class="filtering__button" type="button">
            FILTER
        </button>
        <button class="filtering__button" type="button">
            SORT BY: FEATURED
        </button>
        <button class="filtering__layout" type="button">
        </button>
    </div>
</div>